body {
	background: black;
}
.vista-total {
	background-color: white;
	margin: auto;
    width: 450px;
}
.head-vista{
    margin-top: 50px;
    display: flex;
}
.foto{
    margin-top: 25px;
    margin-left: 10px;
}
.encabezado-vista{
    margin-left: 5px;
}
.puntos{
    margin-top: 15px;
    margin-left: 280px;

}
.botones{
    margin-top: 10px;
    margin-left: 10px;
}
.card-footer{
    margin-left: 10px;
    height: 150px;
}